<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/static/js/main.js"></script>

    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <title>OptoSalud</title>
</head>

<body>
    <header class="container-fluid" id="page-header">
        <div class="row justify-content-between">
            <div class="col-auto align-self-start d-none d-sm-block">
                <img src="/static/img/optosalud.png" id="logo" alt="OptoSalud Logo" style="width:140px;" />
            </div>
            <div class="col align-self-center">
                <h1 class="title1">{{sectorName}}</h1>
                <h3 class="title2">Institucion Sanitaria</h3>
            </div>
            <div class="col-auto">
                <div class="container" id="main-menu">
                    <div class="row justify-content-between">
                        <div class="col-auto dropleft">
                            <img src="/static/img/user.png" id="user-icon" alt="User image" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            <div class="container dropdown-menu main-menu-style">
                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <h6 class="title1">Menu</h6>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto main-menu-items">
                                        <!-- Dropdown menu links -->
                                        <a class="dropdown-header main-menu-item" href="/users/{{userId}}">Ver Perfil</a>
                                        <a class="dropdown-header main-menu-item" href="/sectors">Cambiar Sector/Sala</a>
                                        <a class="dropdown-item main-menu-item" href="#">Active link</a>
                                        <a class="dropdown-item main-menu-item" href="#">Another link</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <a class="btn btn-secondary" href="/help" role="button">Ayuda</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-primary" href="/logout" role="button">Salir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <h6 class="title1">{{userName}}</h6>
                            <h6 class="title1">{{userLastName}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="container-fluid" id="page-content">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1 class="title1">Registro Diario</h1>
            </div>
        </div>
        <br class="d-none d-sm-block">
        <div class="row justify-content-center">
            <form class="col-12" autocomplete="off" id="dialyRecordViewForm" >  <!--Formulario para ver dialy record-->
                <div class="form-row">
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="date">Fecha y Hora</label>
                                <input type="text" class="form-control" id="createdDate" value="{{record.createdDate}}" readonly>
                            </div>
                            <div class="form-group col">
                                <label for="bed">Cama</label>
                                <input type="text" class="form-control" id="bed" name="bed" value="{{record.bed}}" readonly/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="date">Sector</label>
                                <input type="text" class="form-control" id="sector" value="{{record.SectorName}}" readonly>
                            </div>
                            <div class="form-group col">
                                <label for="bed">Sala</label>
                                <input type="text" class="form-control" id="room" value="{{record.roomName}}" readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nurse">Licenciada de turno</label>
                            <input type="text" class="form-control" id="nurse" name="nurse"  value="{{record.nurseInfo[0].nurseName}} {{record.nurseInfo[0].nurseLastName}}" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="pacientDocument">Auxiliar de enfermeria</label>
                            <input type="text" class="form-control" id="auxNurse" name="auxNurse" value="{{record.auxNurseInfo[0].auxNurseName}} {{record.auxNurseInfo[0].auxNurseLastName}}" readonly/>
                        </div>
                        <div class="form-group">
                            <label for="pacientDocument">Documento del Paciente</label>
                            <input type="text" class="form-control" id="pacientDocument" name="pacientDocument" value="{{record.pacientDocument}}" readonly/>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label for="pacientName">Nombre del Paciente</label>
                                <input type="text" class="form-control" id="pacientName" name="pacientName" value="{{record.pacientName}}" readonly/>
                            </div>
                            <div class="form-group col">
                                <label for="pacientLastName">Apellido del Paciente</label>
                                <input type="text" class="form-control" id="pacientLastName"  name="pacientLastName" value="{{record.pacientLastName}}" readonly/>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group form-row">
                            <div class="col-12">
                                <label for="comment">Comentario</label>
                                <textarea class="form-control" id="comment" rows="12" name="comment" value="{{record.comment}}" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>  
     </section>
    <br class="d-none d-sm-block">
    <footer class="container-fluid" id="page-buttoms">
        <div class="row justify-content-around">
            <div class="col-auto align-self-start">
                <a class="btn btn-secondary" href="/dialyrecords">Voler a los registros</a>
            </div>
        </div>
    </footer>
</body>

</html>
