<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/main.css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <title>OptoSalud</title>
</head>

<body>
    <div class="container-fluid" id="page-header">
        <div class="row justify-content-between">
            <div class="col-auto align-self-start d-none d-sm-block">
                <img src="static/img/optosalud.png" id="logo" alt="OptoSalud Logo" style="width:140px;" />
            </div>
            <div class="col align-self-center">
                <h1 class="title1">Ayuda o Sugerencia</h1>
                <h3 class="title2 d-none d-sm-block">Necesitas ayuda o tienes algún comentario. Contactanos mediante el siguiente formulario</h3>
            </div>
        </div>
    </div>
    <br class="d-none d-sm-block">
    <div class="container-fluid" style="width:95%;">
        <div class="row">
            <div class="col-12">
            <form action="" method="post" autocomplete="on">
                <div class="form-group row">
                    <div class="col-3 col-sm-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="help-check" id="help-check" value="option1" checked>
                            <label class="form-check-label" for="help">
                              Ayuda
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="comment-check" id="comment-check" value="option2">
                            <label class="form-check-label" for="comment-check">
                              Comentario
                            </label>
                          </div>
                    </div>
                    <div class="col-9 col-sm-11">
                        <label for="email">Correo de contacto</label>
                        <input type="text" class="form-control" id="email" placeholder="Ingresa tu correo electronico" 
                      name="email" value="{{request.form.email}}"> <!-- value for Flask -->
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12">
                        <label for="comment">Comentario</label>
                        <textarea class="form-control" id="comment" placeholder="Intorduce tus comentarios." rows="6"></textarea>
                    </div>
                </div>
                <br class="d-none d-sm-block">
                <div class="form-group row justify-content-center">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary" onclick="">Enviar</button>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-secondary" onclick="history.back()">Regresar</button>
                    </div>
                </div>                        
              </form>  
            </div>
        </div>
    </div>
</body>
</html>