<html>
<head>
    <title>OptoSalud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/login.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1>OptoSalud</h1>
        <div class="fadeIn first">
            <img src="static/img/optosalud.png" height="120" width="98"/>
        </div>
        <!-- Login Form -->
        <form action="" method="post" autocomplete="off">
            <input type="text"
                   id="documment"
                   class="fadeIn second"
                   name="login"
                   placeholder="Ingresa tu documento"
                   value="{{request.form.document }}">
            <input type="text"
                   id="password"
                   class="fadeIn third"
                   name="password"
                   placeholder="contraseña"
                   value="{{request.form.password }}">
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>
        {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
</div>
</body>

</html>
