<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/main.css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <title>OptoSalud</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                <div id="logo_name" class="row justify-content-center">
                    <img src="static/img/optosalud.png" id="logo" alt="OptoSalud Logo" />
                </div>
                </div>
                <div class="row justify-content-center">
                    <h1 class="title1">Bienvenido</h1>
                </div>
                <div class="row justify-content-center">
                    <h6 class="title2">La salud es una inverison, no un gasto.</h6>
                </div>
            </div>
        </div>
        <br class="d-none d-sm-block">
        <div class="row justify-content-center">
                <!-- Login Form -->
                <form action="" method="post" autocomplete="on">
                    <div class="form-group row">
                      <label for="document">Documento</label>
                      <input type="text" class="form-control" id="document" aria-describedby="docummentHelp" placeholder="Ingresa tu documento" 
                      name="document" value="{{request.form.document}}"> <!-- name/vale for Flask -->
                      <small id="docummentHelp" class="form-text text-muted">Sin puntos ni guiones</small>
                    </div>
                    <div class="form-group row">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" id="password" placeholder="Intorduce tu contraseña"
                      name="password" value="{{request.form.password }}" >  <!-- name/vale for Flask -->
                    </div>
                    {% if error %}
                    <div class="form-group row justify-content-center">
                        <p class="error"><strong>Error:</strong> {{ error }}</p>
                    </div>
                    {% endif %}
                    <br class="d-none d-sm-block">
                    <div class="form-group row justify-content-center">
                        <button type="submit" class="btn btn-primary" >Iniciar Sesion</button>
                    </div>                        
                  </form>            
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-secondary" href="/help" role="button">Ayuda</a>
        </div> 
    </div>
</body>
</html>