<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="static/css/main.css" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="static/js/main.js"></script>

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
    <title>OptoSalud</title>
</head>

<body>
    <div class="container-fluid" id="page-header">
        <div class="row justify-content-between">
            <div class="col-auto align-self-start d-none d-sm-block">
                <img src="static/img/optosalud.png" id="logo" alt="OptoSalud Logo" style="width:140px;" />
            </div>
            <div class="col align-self-center">
                <h1 class="title1">OptoSalud</h1>
                <h3 class="title2">Institucion Sanitaria</h3>
            </div>
            <div class="col-auto">
                <div class="container" id="main-menu">
                    <div class="row justify-content-center">
                        <div class="col-6" style="padding-right: 0px;">
                            <h6 class="title1">Camila Sosa</h6>
                            <!--user.name-->
                        </div>
                        <div class="col-6 dropleft" style="padding-left: 0px;">
                            <img src="static/img/user.jpg" id="user-icon" alt="User image" class="dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                            <div class="container dropdown-menu main-menu-style">
                                <div class="row justify-content-start">
                                    <div class="col-auto">
                                        <h6 class="title1">Menu</h6>
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-auto main-menu-items">
                                        <!-- Dropdown menu links -->
                                        <a class="dropdown-header main-menu-item" href="/error">Ver Perfil</a>
                                        <a class="dropdown-header main-menu-item" href="/error">Cambiar Sector/Sala</a>
                                        <a class="dropdown-item main-menu-item" href="#">Active link</a>
                                        <a class="dropdown-item main-menu-item" href="#">Another link</a>
                                    </div>
                                </div>
                                <br>
                                <div class="row justify-content-between">
                                    <div class="col-6">
                                        <a class="btn btn-secondary" href="/help" onclick="" role="button">Ayuda</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn btn-primary" href="/" onclick="" role="button">Salir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="page-content">
            <div col-12>
                <h6 class="title2">Selecciona una tarea:</h6>
            </div>
        </div>
        <br class="d-none d-sm-block">
        <div class="row justify-content-center">
            <a class="btn sector-room-card" role="button" href="/dialyrecords_new"> 
                Registro Diario
            </a>
            <a class="btn sector-room-card" role="button" href="/reports">
                Informes
            </a>
        </div>
        <br class="d-none d-sm-block">
        <div class="row justify-content-center">
            <a class="btn sector-room-card" role="button" href="/error">
                Registro de Farmacos
            </a>
            <a class="btn sector-room-card" role="button" href="/error">
                Registro de Materiales
            </a>
        </div>
    </div>
    <div class="container-fluid" id="page-buttoms">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button class="btn btn-secondary" onclick="history.back()">Regresar</button>
            </div>
        </div>
    </div>
</body>

</html>
